@model WebLayer.Models.Users

@{
    ViewBag.Title = "Din Profil";
}
<div class="row">
    <div class="col-md-1">
    <h2>@Model.Name</h2>
        @if (/* !isOwnProfile && !isFriends*/ 1 == 1)
        {
            <button class="btn btn-primary"  type="submit" value="Add Friend"  
          onclick="location.href='@Url.Action("FriendRequest", "Profile")'"/>
                
               

          
       
        }
    </div>
</div>

<div class="row">
    <div class="col-md-4">
    <img src="@Url.Content("~/images/profile/" + Path.GetFileName(Model.ImagePath))" width="250" height="250" />
        
        @using (Html.BeginForm("Index", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <label for="file">Change:</label>
            <input type="file" name="file" id="file" /><br><br>
            <input type="submit" value="Upload Image" class="btn btn-primary" />
            <br><br>
            @ViewBag.Message
       
        }
    </div>
<div class="col-md-8">
    <div class="row">
        <div class="col-md-4">
            Name: @Model.Name
        </div>
        <div class="col-md-4">
            Age: @Model.Age
        </div>
        <div class="col-md-4">
            Sexual Pref: @Model.SexOrient
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            4
        </div>
        <div class="col-md-4">
            5
        </div>
        <div class="col-md-4">
            6
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            7
        </div>
        <div class="col-md-4">
            8
        </div>
        <div class="col-md-4">
            9
        </div>
    </div>
    </div>
    
</div>
 @if (/* byt till -det är din profil- */ 1 == 1)
 {
     <div class="row text-center"><h2>MessageBoard</h2></div>
    <div class="row">
        <div class="col-md-12">
            @if (/* viewbag.message not null */ 1 == 1)
            {
                // @foreach(Message in  ViewBag.Message) {
                <div class="col-md-2">
                    <div class="wall.image">
                        @@profile.wallPosts.get(i).image
                        <img src="bildsrc" height="100px" width="100px" /> 
                    </div>
                </div>
                <div class="wall.message">
                    (@@profile.wallPosts.get(i).text)
                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque 
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem 
                    quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur 
                    magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro 
                    quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci 
                    velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore 
                    magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum 
                    exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea 
                    commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate 
                    velit esse quam nihil molestiae consequatur."

                </div>


                //}
            }
        </div>
    </div>

 }
