@model WebLayer.Models.Users
@{
    ViewBag.Title = "Login";
}
    <div class="row">
        <div class="col-md-6">
            <h2>Log In</h2>

            @Html.ValidationSummary(true)

            @using (Html.BeginForm())
            {
                @Html.LabelFor(u => u.Email)<br />
                @Html.TextBoxFor(u => u.Email)<br />
                @Html.LabelFor(u => u.Password)<br />
                @Html.PasswordFor(u => u.Password)<br />

                <button type="submit" class="btn btn-login">Log in</button>
                <button type="submit" class="btn btn-register">Register</button>


            }
        </div>
        <div class="col-md-6"><h2 class="login-quote">När du inte fått prassla på ett tag vid din höboll, kom till oss
            vi har koll!"
            </br > </br>
            9 av 10 hittar kärleken redan inom 24 timmar!</h2></div>
</div>

