<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bönder söker fruar</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" /> 
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body @if (this.ViewContext.RouteData.Values["controller"].ToString().ToLower().Equals("auth")) {<text>background="/Content/images/Pink-Camo.jpg"</text> }>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="col-md-6">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>
                    @if (@User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Hem", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        <form method="get" action ="@Url.Action("MyAction", "ProfileController")" class="navbar-form" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for..." id="Search">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Go!</button>
                                </span>
                            </div><!-- /input-group -->
                        </form>
                    }
                    else
                    {
                        @Html.ActionLink("Login", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    }
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <div class="col-md-6">
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                       
                        <li>
                            <a href="@Url.Action("index", "friends")">Friends</a>
                        </li>
                        <li>
                            <a href="@Url.Action("index", "profile")">Profil</a>
                        </li>
                    <li>
                        <a href ="@Url.Action("logout", "auth")">Logga ut</a>
                    </li>

                    <li> 
                        <a href="@Url.Action("requests", "friends")" class="btn btn-primary btn-friends @if (/* Model.User.friendRequests.count() > 0 */ 1 == 1) {<text>btn-hasPending</text>}">FriendReq</a>
</li>

                    }
                        else
                        {
                        <li>
                            <a href="@Url.Action("registration", "auth")">Registrera</a>
                        </li>

                    }
                </ul>
                    </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Celerity Systems Inc - <a href="/api/">Api</a></p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>